<!DOCTYPE html>
<html data-ng-app>
	<head>
		<style>
		body{
			background-color: #000;
			color: #fff;
		}
		</style>
		<title>Nimmo's basic socket.io chat application</title>
	</head>
	<body data-ng-controller="ChatCtrl" data-ng-cloak>
		<h1>Socket.io Chat</h1>
		<p id="status">Click 'connect' to connect to the chat server.</p>
		<input id="message" data-ng-show="isConnected"></input>
		<button id="send" onClick='send()' data-ng-show="isConnected">Send</button>
		<button id="connect" onClick='connect()' data-ng-hide="isConnected" data-ng-click="connection(true)"/>Connect</button>
		<button id="disconnect" onClick='disconnect()' data-ng-show="isConnected" data-ng-click="connection(false)">Disconnect</button>
		<div id="messageHistory"></div>
	</body>
	<script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js" type="text/javascript"></script>
	<script src='/socket.io/socket.io.js' type='text/javascript'></script>
	<script>
		var socket
		  , firstConnect = true; //Check to see if this is the first connection from this session - socket.io won't allow multiple connections from one session, so we need to call 'reconnect' if we disconnect and want to connect again, rather than calling 'connect' again.

		var connect = function(){
			socket = io.connect(null);
			//Parameter is for address and port - passing in 'null' will ensure that the browser's current address and port will be used
			if(firstConnect){
				//Standard socket.io server events
				socket.on('connect', function(){
					$('#status').html('Connected to server');
					//Get nickname
					socket.emit('set nickname', prompt('Please provide a chat handle'));
				});
				socket.on('disconnect', function(){
					$('#status').html('Disconnected from server');
				});
				socket.on('reconnecting', function(nextRetry){
					$('#status').html('Attempting to reconnect to server in '+nextRetry+' milliseconds');

				});
				socket.on('reconnect_failed', function(){
					$('#status').html('Reconnection failed');
				});

				//Callback for my custom defined 'chat' event
				socket.on('chat', function(client, message){
						$('#messageHistory').append('<strong>'+client+' said:</strong> <br/>'+message+'<br/>');
						$('#message').val('');
				});

				firstConnect = false;

			} else {
				//If it's not the session's first connection, just reconnect instead of trying to set up a new connection
				socket.socket.reconnect();
			};
		}

		var disconnect = function(){
			socket.disconnect();
		}

		var send = function(){
			socket.send($('#message').val());
		}

		function ChatCtrl($scope){
			$scope.isConnected = false;
			$scope.connection = function(connection){
				$scope.isConnected = connection;
			};
		}
	</script>
</html>